.container{
    display: grid;

    grid-template-areas: 
    'img main';
    width: 90%;
    grid-template-columns: 20fr 1fr;
    grid-template-rows: 0.1fr;

}

.container img{
    grid-area: main;
}

.profile b{
  display: flex;
}

nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    border: 1px red solid;
    background-color: aliceblue;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 45%;
    border: 1px red solid;
}

a{
    display: flex;
    text-decoration: none;
    color: black;
    width: 200px;    
}

li{
    display: flex;
    margin-left: 10px;
}

.head{
    display: flex;
}

h2{
    color: blueviolet;
}

nav ul li a{
    display: flex;
}