body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
.dark-mode {
    background-color: black;
    color: white;
  }


.board{
    display: grid;
    border: 8px black;
    grid-template-columns: auto auto auto;
    /* background-color: aqua; */
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 8px;
    padding: 30px;
    margin: 30px;

}

.cell{
    display: flex;
    background-color: aliceblue;
    height: 90px;
    width: 90px;
    border: 1px solid black;
    border-radius: 4px;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

#toggleDarkMode{
    height: 60px;
    width: 270px;
}

#reset{
    display: flex;
    margin-left: 47%;
    height: 30px;
    width: 120px;
    justify-content: center;
    justify-self: center;
    align-items: center;
}