*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    /* background-color: rgba(255, 233, 234, 1); */
}

.logo img{
    max-width: 100px;
    height: auto;
}

.navmenu{
    display: flex;
    list-style: none;
}

.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover{
    color: #EE1c47;
}

.searchproduct form{
    display: flex;
    border-radius: 5px;
}

section{
    padding: 10% 10%;
    margin-top: 9%;
}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(banner-3.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}